
<% include adminHeader.ejs %>



<div class="main-form clearfix">
    <form id="signupForm" method="post">
        <input type="hidden" name="articleId"  value="<%= article.id%>">
        <div class="subform" style="width:800px;">
            <ul ng-app="App">
                <li><span>所属目录：</span><select name="directoryId" ></select></li>
                <input type="hidden" name="directoryName" value="<%= article.directoryName%>">
                <li><span>显示位置：</span>
                    <input type="radio" name="grade" value="1"<%if(article.grade == 1){%> checked="checked"<%}%> style="width: 16px; float: inherit"> 普通 &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="grade" value="0"<%if(article.grade == 0){%> checked="checked"<%}%> style="width: 16px; float: inherit"> 幻灯 &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="grade" value="2"<%if(article.grade == 2){%> checked="checked"<%}%> style="width: 16px; float: inherit"> 推荐 </li>
                <li><span>文章标题：</span><input name="title" class="required" type="text" maxlength="100" value="<%= article.title%>"> <i>*</i></li>
                <li><span>作者：</span><input name="media_name" class="required" type="text"  maxlength="50" value="<%= article.media_name%>"> <i>*</i></li>
                <li><span>关键字：</span><input name="keywords" class="required" type="text"  maxlength="50" value="<%= article.keywords%>"> <i>*</i></li>
                <li><span>图片地址：</span><input name="imageUrl" type="text"  maxlength="200" value="<%= article.imageUrl%>" style="display: none"><a href="javascript:void(0);" class="addTxt">修改图片</a></li>
                <li><span>标记：</span><input name="tags" class="required"  maxlength="50" type="text" value="<%= article.tags%>"> <i>*</i></li>
                <li class="li-textarea clearfix"><span>描述：</span><textarea name="description" cols="" maxlength="200" rows="" class="required"><%= article.description%></textarea> <i>*</i></li>
                <li style="float: left; width: 100px;"><span>内容：</span></li>
                <textarea name="content" cols="" rows="" class="required" style="display: none"><%= article.content%></textarea>
                <!--style给定宽度可以影响编辑器的最终宽度-->
                <style type="text/css">
                    .edui-container{ margin-left: 103px;}
                </style>
                <script type="text/plain" id="myEditor" style="width:590px;height:200px;"></script>
                <div class="clear"></div>
                <script type="text/javascript">
                    //实例化编辑器
                    var content = $("[name='content']").text();
                    var um = UM.getEditor('myEditor',{
                        initialContent:content
                    });
                </script>

            </ul>
            <div class="form-but"><a href="javascript:void(0);" class="a-submit">提 交</a><a href="/admin/articleList" class="a-reset">返 回</a> </div>
        </div>
    </form>
</div>

<% include adminFooter.ejs %>

<script type="text/javascript">

    $(function(){
        var form = $("#signupForm");
        form.validate({
            submitHandler:function(form){

                $.ajax({
                    url: '/admin/saveArticle',
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    data: $("#signupForm").serialize(),
                    success: function (ret) {
                        if(ret.succee == true){
                            alert(ret.msg);
                            window.location.href = '/admin/articleList';
                        }
                    },
                    error: function () {
                        alert('ajax失败了，请重试！');
                    }
                });
            }
        });

        $(".a-submit").click(function(){
            $("[name='content']").text(UM.getEditor('myEditor').getContent())

            form.submit();
        });
        $(".a-reset").click(function(){
            form[0].reset();
        });

        $.ajax({
            url: '/directoryList',
            type: 'get',
            cache: false,
            dataType: 'json',
            data: '',
            success: function (ret) {
                $.each(ret,function(i,value){
                    if(value._id == '<%= article.directoryId%>'){
                        $("[name='directoryId']").append("<option value='"+value._id+"' selected='selected'>"+value.directoryName+"</option>")
                    }else{
                        $("[name='directoryId']").append("<option value='"+value._id+"'>"+value.directoryName+"</option>")
                    }

                });
            },
            error: function () {
                alert('ajax失败了，请重试！');
            }
        });


        $("[name='directoryId']").change(function(){
            var text = $(this).find("option:selected").text();
            $("[name='directoryName']").val(text);
        });


        $(".addTxt").click(function(){
            $(this).hide();
            $(this).prev().show();
        });

    });
</script>
