<% include adminHeader.ejs %>
<script type="text/javascript">
    $(function(){
        $("a.remove").click(function(){
            var id = $(this).attr("data-id");
            $.ajax({
                url: '/admin/removeArticle',
                type: 'post',
                cache: false,
                dataType: 'json',
                data: 'articleId='+id,
                success: function (ret) {
                    if(ret.succee == true){
                        alert(ret.msg);
                        window.location.href = '/admin/articleList';
                    }else{
                        alert(ret.msg);
                    }
                },
                error: function () {
                    alert('ajax失败了，请重试！');
                }
            });
        });
    });
</script>
<div class="main-list clearfix">
    <div class="search-form">
        <form id="searchForm" action="/admin/articleList">
            <input type="hidden" name="page" value="<%= page%>">
        <ul class="clearfix">
            <li><span>文章标题</span> <input name="title" type="text"></li>
            <li><span>作者</span> <input name="" type="text"></li>
            <li class="ts"><span>注册时间</span> <input name="" type="text"> - <input name="" type="text"></li>
        </ul>
        </form>
        <div class="form-but"><a href="javascript:void(0);">查 询</a><a href="javascript:void(0);">清 空</a></div>
    </div>
    <div class="sea_list_add"><a href="/admin/addProject">新增项目</a></div>
    <div class="man-table">
        <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#CCCCCC" class="table">
            <thead>
            <tr>
                <td width="300">项目名称</td>
                <td width="100">分类</td>
                <td width="100">地点</td>
                <td width="100">点击量</td>
                <td width="200">创建时间</td>
                <td width="150">操作</td>
            </tr>
            </thead>
            <tbody>
            <% list.forEach(function(item){ %>
            <tr>
                <td><%= item.name%></td>
                <td><%= item.classify%></td>
                <td><%= item.site%></td>
                <td><%= item.hits%></td>
                <td><%= moment(item.date).format('YYYY-MM-DD HH:mm:ss')%></td>
                <td><a href="/admin/editProject?projectId=<%= item.id%>" class="edit">修改</a> | <a href="javascript:void(0);" data-id="<%= item.id%>" class="remove">删除</a></td>
            </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
    <% include page %>
</div>
<% include adminFooter.ejs %>