<tr>
    <td><%= item.username%></td>
    <td><%= item.email%></td>
    <td><%= moment(item.creationTime).format('YYYY-MM-DD HH:mm:ss')%></td>
    <td><%= item.state%></td>
    <td><%= item.level%></td>
    <td><a href="#">冻结</a> | <a href="#">修改</a> | <a href="#">删除</a> </td>
</tr>